body {
  margin: 0;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px;
  color: white;
}

.navbar-section {
  margin-right: 10px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.social {
  display: flex;
  margin: 15px;
}

.social-icon {
  margin-left: 10px;
  background-color: white;
  width: 39px;
  height: 39px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
}

.info-child {
  margin-right: 15px;
  border: 1px solid white;
  padding: 10px;
}

.bg_on {
  background-image: url("../assets/bg_on.png");
}

.bg_off {
  background-image: url("../assets/bg_off.png");
}