body {
  margin: 0;
  background-color: black;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #dddddd;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px;
  color: #dddddd;
}

.navbar-section {
  margin-right: 10px;
  letter-spacing: 1px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: flex;
  color: #dddddd;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.social {
  display: flex;
  padding-bottom: 15px;
  padding-left: 15px;
}

.social-icon {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #dddddd;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
}

.info-child {
  margin-right: 15px;
  border: 1px solid #dddddd;
  padding: 10px;
}

.bg_on {
  background-image: url("src/assets/images/bg_on.png");
}

.bg_off {
  background-image: url("src/assets/images/bg_off.png");
}

.active {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .bg_on {
    background-image: url("src/assets/images/bg_on_long.png");
  }

  .bg_off {
    background-image: url("src/assets/images/bg_off_long.png");
  }

  .navbar {
    font-size: 14px;
  }

  .info {
    visibility: hidden;
  }

  .info-child {
    padding: 8px;
    font-size: 5px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
  .bg_on {
    background-image: none;
  }

  .bg_off {
    background-image: none;
  }
}