.bootstrap-carousel {
  color: white;
  width: 80%;
  margin: 0 auto 50px auto;
}

.carousel-inner {
  width: 50%;
  margin: 0 auto;
}

.carousel-item img {
  height: 500px;
  object-fit: contain;
}

.navbar-custom {
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px;
  color: #dddddd;
}

@media only screen and (max-width: 600px) {
  .carousel-inner {
    width: 80%;
    margin: 0 auto;
  }
}
