body {
  background-image: url("../assets/images/bg_on.png");
}

@media only screen and (max-width: 600px) {

  body {
    background-image: url("../assets/images/bg_on_long.png");
  }

  .navbar {
    font-size: 14px;
  }

  .info-child {
    padding: 8px;
    font-size: 5px;
  }
}